@model IEnumerable<BibliotecaIntegrador.Models.Genero>
@{
	Layout = null;
}
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Lista generos</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
	<header class="jumbotron text-center">
		<h1>Listado de generos:</h1>
	</header>
	<main class="container">
		<div class="text-right">

			@Html.ActionLink(" ", "Agregar", null,
			new
			{
				@class = "glyphicon glyphicon-plus",
				style = "font-size:1.5em"
			})
		</div>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Genero:</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var genero in this.Model)
				{
					<tr>
						<td>@genero.Nombre</td>
						<td class="text-right">
							@Html.ActionLink(" ", "Editar", new { Id = genero.Id },
							new
							{
								@class = "glyphicon glyphicon-pencil",
								style = "font-size:1.5em"
							})
							&nbsp &nbsp &nbsp
							@Html.ActionLink(" ", "Eliminar", new { Id = genero.Id },
							new
							{
								@class = "glyphicon glyphicon-trash",
								style = "font-size:1.5em"
							})
						</td>
					</tr>
				}
			</tbody>
		</table>
	</main>
</body>
</html>
